{% extends "ports/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block body_block %}

<h1>About</h1>

<img src="{% static "fallout-128.png" %}" alt="PortsFallout" width="128" height="128">

<p><strong>PortsFallout</strong>, maintained by <a href="https://github.com/dbaio">dbaio</a>, provides an easy
  way to search/query the <a href="https://lists.freebsd.org/archives/freebsd-pkg-fallout/">FreeBSD pkg-fallout</a>
  archive.</p>

<p><a href="https://github.com/dbaio/portsfallout/blob/master/changelog.rst">portsfallout v1.10.1</a></p>

{% endblock %}
