{% extends "ports/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block body_block %}

<br />

<h3>About</h3>

<br />

<img src="{% static "fallout-128.png" %}" alt="Portsfallout">
<br />

<p><strong>PortsFallout</strong>, maintained by <a href="https://github.com/dbaio">dbaio</a>, provides an easy
    way to search/query the <a href="https://lists.freebsd.org/archives/freebsd-pkg-fallout/">FreeBSD pkg-fallout</a>
  archive.</p>

<p><a href="https://github.com/dbaio/portsfallout/blob/master/changelog.rst">portsfallout v1.8.0</a></p>

{% endblock %}
