<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>
        {% block title %}{% endblock %} - FreeBSD pkg-fallout
      </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <!-- favicon -->
      <link rel="apple-touch-icon" sizes="120x120" href="{% static "/apple-touch-icon.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
      <link rel="manifest" href="{% static "/site.webmanifest" %}">
      <link rel="mask-icon" href="{% static "/safari-pinned-tab.svg" %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #800000">
      <a class="navbar-brand" href="{% url 'ports:index' %}"><img src="{% static "fallout-48-w.png" %}" alt="Portsfallout"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{ navbar_fallout }}">
            <a class="nav-link" href="{% url 'ports:fallout' %}">Fallouts</a>
          </li>
          <li class="nav-item {{ navbar_list }}">
            <a class="nav-link" href="{% url 'ports:list' %}">Ports</a>
          </li>
          <li class="nav-item {{ navbar_server }}">
            <a class="nav-link" href="{% url 'ports:server' %}"">Servers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">|</a>
          </li>
          <li class="nav-item {{ navbar_about }}">
            <a class="nav-link" href="{% url 'ports:about' %}">About</a>
          </li>
          <li class="nav-item {{ navbar_api }}">
            <a class="nav-link" href="/api/"">Api</a>
          </li>
        </ul>
      </div>
    </nav>
      <div class="container">
      {% block body_block %}
      {% endblock %}
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
   </body>
</html>
