{% extends "ports/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% load humanize %}
{% block body_block %}

<script src="{% static "js/Chart.min.js" %}" > </script>

<script>
  var config = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ chart_data|safe }},
        backgroundColor: ['#721B08'],
        label: 'Fallouts',
        fill: true,
	   }],
	   labels: {{ chart_labels|safe }}
    },
    options: {
      responsive: true
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('fallout-chart').getContext('2d');
    window.myChart = new Chart(ctx, config);
  };
</script>


<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
      <h2><strong>pkg-fallout</strong> Reports</h2>
    </div>
  </div>
  <div class="row">
    <br />
  </div>

  <div class="row">
    <div class="col-md-3" align="center">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>build environment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for obj in fallout_env %}
        <tr>
          <td><a href="{% url 'ports:fallout' %}?env={{ obj.env|urlencode:"" }}">{{ obj.env }}</a></td>
          <td><small class="text-muted">{{ obj.total|intcomma }}/{{ obj.total_ports|intcomma }}</small></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3" align="center">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for category in fallout_cat %}
        <tr>
          <td><a href="{% url 'ports:fallout' %}?category={{ category.category|urlencode:"" }}">{{ category.category }}</a></td>
            <td><small class="text-muted">{{ category.total|intcomma }}/{{ category.total_ports|intcomma }}</small></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3" align="center">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>flavor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for flavor in fallout_flavor %}
        <tr>
          <td><a href="{% url 'ports:fallout' %}?flavor={{ flavor.flavor|urlencode:"" }}">{{ flavor.flavor }}</a></td>
            <td><small class="text-muted">{{ flavor.total|intcomma }}/{{ flavor.total_ports|intcomma }}</small></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3" align="center">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>maintainer</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for obj in fallout_main %}
          <tr>
            <td><a href="{% url 'ports:fallout' %}?maintainer={{ obj.maintainer|urlencode:"" }}">{{ obj.maintainer }}</a></td>
              <td><small class="text-muted">{{ obj.total|intcomma }}/{{ obj.total_ports|intcomma }}</small></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <p><small class="text-muted">XXX/YYY --> pkg-fallout count/unique ports</small></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <canvas id="fallout-chart"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br />
      <p>Filtering entries from the last 30 days, there are a total of <strong>{{ fallout_count_recent|intcomma }}
        </strong> instances of pkg-fallout.</p>
      <p>The oldest pkg-fallout recorded in the database is from <strong>{{ fallout_oldest.date | date:"Y-m-d H:i" }}</strong>,
          and the most recent one is from <strong>{{ fallout_recent.date | date:"Y-m-d H:i" }}</strong>,
          resulting in a total of <strong>{{ fallout_count|intcomma }}</strong> instances.</p>
    </div>
  </div>

</div>

{% endblock %}
