{% extends "ports/base.html" %}
{% block title %}Fallout list{% endblock %}
{% load bootstrap_pagination %}
{% block body_block %}

<br />

<form action="{% url 'ports:fallout' %}" method="GET">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="port">Port</label>
      <input type="text" class="form-control" name="port" placeholder="category/port" value="{{ form_port }}">
    </div>
    <div class="form-group col-md-3">
      <label for="maintainer">Maintainer</label>
		<input type="text" class="form-control" name="maintainer" placeholder="maintainer" value="{{ form_maintainer }}">
    </div>
    <div class="form-group col-md-3">
      <label for="env">Build environment</label>
      <input type="text" class="form-control" name="env" placeholder="build environment" value="{{ form_env }}">
    </div>
    <div class="form-group col-md-3">
      <label for="category">Category</label>
      <input type="text" class="form-control" name="category" aria-describedby="categoryHelp" placeholder="patch" value="{{ form_category }}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="categories">Port Categories</label>
      <select multiple class="form-control" name="categories">
{% for category in categories %}
    {% if category|stringformat:"s" in form_categories %}
        <option selected>{{ category }}</option>
    {% else %}
        <option>{{ category }}</option>
    {% endif %}
{% endfor %}
      </select>
      {% if form_categories %}
      <small class="text-muted">
        {{ form_categories }}
      {% endif %}
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Filter</button>
  <small class="text-muted">
    Regular expressions are permitted
  </small>
</form>

<br />

	<h3>Fallout List</h3>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 22%">port</th>
      <th scope="col" style="width: 18%">maintainer</th>
      <th scope="col" style="width: 16%">build environment</th>
      <th scope="col" style="width: 8%">category</th>
      <th scope="col" style="width: 12%">date</th>
      <th scope="col" style="width: 24%">urls</th>
    </tr>
  </thead>
  <tbody>
	{% for fallout in fallout_list %}
    <tr>
		<td><small><a href="{% url 'ports:fdetail' fallout.id  %}">{{ fallout.port }}</a></small></td>
		<td><small>{{ fallout.maintainer }}</small></td>
      <td><small>{{ fallout.env }}</small></td>
      <td><small>{{ fallout.category }}</small></td>
      <td><small>{{ fallout.date | date:"Y-m-d H:i" }}</small></td>
		<td>
			<a href="{{fallout.log_url }}" class="badge badge-danger">log</a>
			<a href="{{fallout.report_url }}" class="badge badge-info">report</a>
			<a href="{% url 'ports:detail' fallout.port.id  %}" class="badge badge-success">port detail</a>
			<a href="https://www.freshports.org/{{fallout.port}}" class="badge badge-dark">Fresh Ports</a>
		</td>
    </tr>
	{% endfor %}
  </tbody>
</table>

<div class="centerstage">
		{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" centered="true" extra_pagination_classes="justify-content-center" %}
</div>

{% endblock %}
