{% extends "ports/base.html" %}
{% block title %}Port list{% endblock %}
{% load humanize %}
{% block body_block %}

<br />

<form action="{% url 'ports:list' %}" method="GET">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="port">Port</label>
		<input type="text" class="form-control" name="port" placeholder="category/port" value="{{form_port}}">
    </div>
    <div class="form-group col-md-3">
      <label for="maintainer">Maintainer</label>
		<input type="text" class="form-control" name="maintainer" placeholder="maintainer" value="{{form_maintainer}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Filter</button>
  <small class="text-muted">
    Regular expressions are permitted
  </small>
</form>

<br />

{% if port_list %}
	<h3>Port List</h3>

<div class="table-responsive">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">port</th>
      <th scope="col" class="text-nowrap">maintainer</th>
      <th scope="col" class="text-nowrap">fallouts</th>
    </tr>
  </thead>
  <tbody>
	{% for port in port_list %}
    <tr>
      <td class="text-nowrap"><small><a href="{% url 'ports:detail' port.id  %}">{{ port.origin }}</a></small></td>
      <td class="text-nowrap"><small>{{ port.maintainer }}</small></td>
      <td class="text-nowrap"><small>{{ port.fcount|intcomma }}</small></td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</div>

{% include 'ports/pagination.html' %}

{% else %}
  <div class="row">
    <div class="col-md-12">
      <p>No port found for this query.</p>
    </div>
  </div>
{% endif %}

  <div class="row">
    <div class="col-md-12">
      <p>Filtering entries from the last 30 days.</p>
    </div>
  </div>


{% endblock %}
