{% extends "ports/base.html" %}
{% block title %}Server list{% endblock %}
{% block body_block %}
{% load proxy %}

<h1>Servers</h1>

<div class="table-wrap">
  <table class="data">
    <thead>
      <tr>
        <th scope="col">server</th>
        <th scope="col">build environment</th>
        <th scope="col">connectivity</th>
      </tr>
    </thead>
    <tbody>
    {% for server in server_list %}
      <tr>
        <td><a href="https://{{ server.name }}">{{ server.name }}</a></td>
        <td style="white-space: normal">
          <span class="row-actions" style="flex-wrap: wrap">
          {% for srv_env in server.envs.all %}
            <a href="{% url 'ports:fallout' %}?env={{ srv_env|urlencode:"" }}">{{ srv_env }}</a>
          {% endfor %}
          </span>
        </td>
        <td>
          <span class="dim">
            {% if server.v4 %}IPv4{% else %}<s>IPv4</s>{% endif %}
            {% if server.v6 %}IPv6{% else %}<s>IPv6</s>{% endif %}
          </span>
          &nbsp;<a href="https://pkg-status.freebsd.org/{{ server.name|get_short_name }}/">proxy</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% include 'ports/pagination.html' %}

<p class="muted small">Some servers have only IPv6 connectivity.</p>

{% endblock %}
