{% extends "ports/base.html" %}
{% block title %}Server list{% endblock %}
{% block body_block %}
{% load proxy %}

<br />

	<h3>Server List</h3>

<div class="table-responsive">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">server</th>
      <th scope="col" class="text-nowrap">connectivity</th>
    </tr>
  </thead>
  <tbody>
	{% for server in server_list %}
    <tr>
      <td class="text-nowrap"><small><a href="http://{{ server.name }}">{{ server.name }}</a></small></td>
      <td class="text-nowrap"><small>
        {% if server.v4 %}
            <span class="badge badge-success">IPv4</span>
        {% else %}
            <span class="badge badge-danger">IPv4</span>
        {% endif %}

        {% if server.v6 %}
            <span class="badge badge-success">IPv6</span>
        {% else %}
            <span class="badge badge-danger">IPv6</span>
        {% endif %}
            <a href="https://pkg-status.freebsd.org/{{ server.name | get_short_name }}/" class="badge badge-secondary">IPv4 Proxy</a>
        </small>
      </td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</div>

{% include 'ports/pagination.html' %}

<div class="row">
    <div class="col-md-12">
      <br />
      <p>Some servers have only IPv6 connectivity.</p>
    </div>
  </div>

{% endblock %}
