{% extends "ports/base.html" %}
{% block title %}Server list{% endblock %}
{% block body_block %}

<br />

	<h3>Server List</h3>

<div class="table-responsive">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-nowrap">server</th>
      <th scope="col" class="text-nowrap">connectivity</th>
    </tr>
  </thead>
  <tbody>
	{% for server in server_list %}
    <tr>
      <td class="text-nowrap"><small><a href="http://{{ server.name }}">{{ server.name }}</a></small></td>
      <td class="text-nowrap"><small>
        {% if server.v4 %}
            <span class="badge badge-success">IPv4</span>
        {% else %}
            <span class="badge badge-danger">IPv4</span>
        {% endif %}

        {% if server.v6 %}
            <span class="badge badge-success">IPv6</span>
        {% else %}
            <span class="badge badge-danger">IPv6</span>
        {% endif %}
        </small>
      </td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</div>

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
            <li>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo</span>
            </li>
        {% endif %}
    </ul>
{% endif %}

<div class="row">
    <div class="col-md-12">
      <br />
      <p>Some servers have only IPv6 connectivity.</p>
    </div>
  </div>

{% endblock %}
